{{ with .Site.Params.footer }}<p>{{ . | safeHTML }}</p>{{ end }}
<div class="content top_bg">
    <p>
        <h4>License</h4>
        如未明确声明，所有文章皆以<br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"></a><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。如果您需要商用，您可以通过电子邮件（ <a href="mailto:blog-website-contact@breakwall.xyz">blog-website-contact@breakwall.xyz</a> ）联系。
    </p>
    <p>
        <h4>隐私权</h4>
        本站启用了由 Google Analytics 提供的统计服务，如果您不希望被跟踪，请安装 AdBlock (Plus) 或与 Google 联系。
        <b>请注意：根据相关的法律法规，本站不对欧盟用户提供服务。</b>
    </p>
</div>
<script src="/picture-helper.js"></script>
