{{ define "main" }}
<div id="banner">
	<div class="content top_bg">
		{{ if .Site.Params.logotype }}
		<img src="{{ .Site.BaseURL }}{{ .Site.Params.logotype }}" />
		{{ else }}
		{{ .Site.Title }}
		{{ end }}
	</div>
</div>
<div class="list">
{{ range (where (where .Paginator.Pages "Section" .Site.Params.frontpagesection) "Date" "<=" now) }}
{{ partial "article" (dict "article" . "mode" (default "summary" (default $.Site.Params.listmode $.Site.Params.frontpagemode))) }}
{{ end }}
{{ partial "pagination" . }}
</div>
{{ end }}